body {
    background-color: #000080;
  }

.navigation {
    position: fixed;
    left: 10px;
    top: 10px;
    width: 200px;
  }
  
  nav button {
    width: 95%;
    margin-bottom: 20px;
  }
  .headshot{
    height: 300px;
    width: 250px;
    float:left;
    padding: 20px;
  }
  .SOS1{
    height: 90%;
    width: 90%;
    padding: 20px;
    text-align: center;

  }
  .SOS2{
    height: 300px;
    width: 250px;
    padding: 20px;
  }
  .parser{
    height: 400px;
    width: 350px;
    padding: 20px;
  }
  .NN{
    height: 500px;
    width: 350px;
    padding: 20px;
  }
  .RF{
    height: 400px;
    width: 900px;
    padding: 20px;
  }
.offset-content {
    position: absolute;
    padding-left: 230px;
    top: 20px;
    width: 80%;
    z-index: -1000;
  }
  
  .offset-content .window {
    margin-bottom: 20px;
  }

  .content-view {
    width: 100%;
  }
  
  .page-header {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 500px;
  }


 p2{
    font-size: 30px;
    font-family:Arial, Helvetica, sans-serif;
  }

  p3{
    font-size: 25px;
    font-family: arial, Arial, Helvetica, sans-serif;
  }
  
  a.one{
    background-color: red;
    color: white;
    padding: 1em 1.5em;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    font-family: arial, Arial, Helvetica, sans-serif;
}

a.two{
  background-color: red;
    color: white;
    padding: 15px 28px;
    border-radius: 12px;
    text-decoration: none;
    font-size: 20px;
    font-family: arial, Arial, Helvetica, sans-serif;
}

a.one:hover, a.two:hover {
  background-color: #4CAF50;
  color: white;
}

#WIN_PRJ
{
	overflow: hidden;
}

html {
  scroll-behavior: smooth;
}

